<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="header clearfix">
        <span class="logo_image"><%= link_to image_tag('logo.png'), kobatters_home_path %></span>
        <nav>
          <ul class="top_menu clearfix">
            <li><%= link_to 'トップページ', kobatters_home_path %></li>
            <li><%= link_to 'つぶやき一覧', kobatters_path %></li>
            <li><%= link_to 'つぶやく', new_kobatter_path %></li>
          </ul>
        </nav>
      </header>

      <%= yield %>

      <footer class="footer">
        <p>Copyright © 2020 PANDA NO TSUBUYAKI All RIGHTS RESERVED.</p>
      </footer>
    </div>
  </body>
</html>
