<%= form_with(model: Contact.new, local: true) do |form| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="contact_title">
    <div><%= form.label :name %></div>
    <div><%= form.text_field :name %></div>
  </div>
  <div class="contact_email">
    <div><%= form.label :email %></div>
    <div><%= form.text_field :email %></div>
  </div>
  <div class="contact_content">
    <div><%= form.label :content %></div>
    <div><%= form.text_field :content %></div>
  </div>
  <%= form.submit %>
<% end %>
